<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Photo URL</th>
        </tr>
    </thead>
    <tbody>
        <% if (datos.length === 0) { %>
            <tr>
                <td colspan="3">No hay datos</td>
            </tr>
        <% }else{ %>
        
        <% for (let i = 0; i < datos.length; i++) { %>
            <tr>
                <td><%=datos[i].nombre%></td>
                <td><%=datos[i].precio%></td>
                <td><img src="<%=datos[i].URL%>" alt=""></td>
            </tr>
        <% } } %>
        
    </tbody>

    <div class="messages">
        <h1>Mensajes Enviados</h1>
            <% if (datos.length === 0) { %>
                <div class="messageContainer">
                    <p colspan="3">No hay Mensajes</p>
                </div>
            <% }else{ %>
            
            <%
            
            const date = new Date();
             for (let i = 0; i < datos.length; i++) { %>
                <div class="messageContainer">
                    <p>Usuario: <%=datos[i].email%></p>
                    <p>Mensaje: <%=datos[i].message%></p>
                    <p>Fecha del mensaje: <%=date%></p>
                </div>
            <% } } %>
            </div> 
    
    

    